/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * code général index.html * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
body {
	/* max-width: 1140px; */
	margin: auto;
	background-color: #fffef8;
	font-family: 'Work Sans';
	font-size: 14px;
}
.down {
	margin-top: 59px;
}
:is(button, a, input, textarea, select):focus-visible {
  outline: 3px solid #B1663C;
  outline-offset: 3px;
}
.hidden {
	display: none !important; /* <= pratique pour ce cas précis */
}
.notif {
	color: #B1663C;
	align-self: center;
	justify-self: center;
	font-size: 14px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * aside top band * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.edit_topband {
	width: 100%;
	height: 59px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 11px;
	color: white;
	background-color: black;
	position: fixed;
	top: 0;
	.edit_topband_icon {
		font-size: 15px;
		margin-top: 2px;
	}
	.edit_topband_text {
		font-size: 16px;
		margin-top: 2px;
	}
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * section du header * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
header {
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 50px 0;
	.link {
		text-decoration: none;
		color: black;
		.logo {
			display: flex;
			flex-direction: column;
			font-family: 'Syne';
			font-size: 22px;
			font-weight: 800;
			color: #B1663C;
			& > .job {
				font-family: 'Work Sans';
				font-size: 10px;
				letter-spacing: .07em;
				font-weight: 400;
				text-transform: uppercase;
				margin-top: 7px;
			}
		}
	}
	nav {
		.navigation {
			height: 42px;
			display: flex;
			align-items: center;
			list-style-type: none;
			line-height: 100%;
			.navig {
				padding: 0 21px;
				font-size: 16px;
				&:hover {
					font-weight: bold;
				}
				.navig-in:hover {
					font-weight: bold;
				}
				.navig-insta {
					width: 22px;
					height: 22px;
					.insta {
						cursor: pointer;
						font-size: 22px;
					}
				}
			}
		}
	}
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * section introduction * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.intro {
	width: 950px;
	display: flex;
	align-items: center;
	margin: 140px auto;
	.portrait {
		flex: 1;
		margin-right: 5px;
		.portrait_img {
			display: block;
			width: 88%;
		}
	}
	.work {
		width: 404px;
		.work_title {
			font-family: 'Syne';
			font-weight: 700;
			font-size: 30px;
			color: #1D6154;
			margin-bottom: .8em;
			margin-top: .5em;
		}
		.work_text {
			margin-bottom: 1.1em;
			line-height: normal;
		}
	}
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * section portfolio * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.portfolio {
	max-width: 950px;
	margin: 0 auto 1em auto;
	.portfolio_title {
		display: flex;
		gap: 30px;
		justify-content: center;
		font-family: 'Syne';
		font-weight: 700;
		font-size: 30px;
		color: #1D6154;
		margin-bottom: 55px;
		.modify_icon {
			display: flex;
			font-size: 15px;
			padding-bottom: 2px;
		}
		.modify {
			font-family: 'Work Sans';
			display: flex;
			gap: 10px;
			cursor: pointer;
			align-items: end;
			font-size: 14px;
			font-weight: 500;
			color: black;
			padding-bottom: 2px;
			text-decoration: none;
		}
	}
}

/* * * * * * * * * * * * * * div filter * * * * * * * * * * * * * */
.filter {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	.filter_btn {
		height: 37px;
		font-family: 'Syne';
		font-size: 16px;
		cursor: pointer;
		line-height: 100%;
		border-radius: 60px;
		color: #1D6154;
		border: 1px solid #1D6154;
		background-color: transparent;
		padding: 10px 28.4px;
		&:hover {
			background-color: #1D6154;
			color: #fffef8;
		}
	}
	.selected {
		background-color: #1D6154;
		color: #fffef8;
	}
}

/* * * * * * * * * * * * * * div gallery * * * * * * * * * * * * * */
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-top: 50px;
	& img {
		width: 100%;
	}
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * boîte dialog Galerie * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.modal {
	flex-direction: column;
	width: 630px;
	height: fit-content;
	background-color: white;
	border-radius: 10px;
	padding: 0;
	border: 0;
	&[open] {
		display: flex;
	}
	&::backdrop {
		background: rgba(0, 0, 0, 0.3);
	}
	.content {
		display: flex;
		flex-direction: column;
		height: fit-content;
		background-color: white;
		border-radius: 10px;
		padding: 25px;
		.closeGal {
			display: flex;
			align-self: end;
			width: fit-content;
			height: fit-content;
			background-color: white;
			border: none;
			cursor: pointer;
			.cross {
				font-size: 20px;
			}
		}
		.title {
			font-size: 26px;
			font-weight: 400;
			align-self: center;
			padding-top: 15px;
		}
		.miniGallery {
			align-self: center;
			width: 420px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-column-gap: 9px;
			grid-row-gap: 28px;
			padding: 50px 0;
			figure {
				position: relative;
			}
			img {
				width: 100%;
			}
		}
		.line {
		align-self: center;
		width: 420px;
		background-color: #B3B3B3;
		margin: 10px 0;
		}
		.addBtn {
		align-self: center;
		width: 237px;
		height: 37px;
		font-family: 'Syne';
		font-size: 14px;
		cursor: pointer;
		border-radius: 60px;
		color: white;
		background-color: #1D6154;
		justify-content: center;
		border: none;
		margin: 25px 0px 17px 0px;
			&:hover {
				background-color: #0E2F28;
			}
		}
	}
}

.trashCan_btn {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 17px;
	height: 17px;
	cursor: pointer;
	background-color: black;
	border-radius: 3px;
	border: none;
	& i {
		font-size: 10px;
		color: white;
		margin-top: 1px;
	}
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * boîte dialog Ajout * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.modal {
	.content {
		.topIcons {
			display: flex;
			justify-content: space-between;
			.arrow {
				width: 24px;
				height: 24px;
				background-color: white;
				border: none;
				cursor: pointer;
			}
			.closeAdd {
				display: flex;
				align-self: end;
				width: fit-content;
				height: fit-content;
				background-color: white;
				border: none;
				cursor: pointer;
				.cross {
					font-size: 20px;
				}
			}
		}
		.modalForm {
			width: 420px;
			display: flex;
			flex-direction: column;
			margin: auto;
			.addPhoto {
				width: 420px;
				height: 169px;
				display: flex;
				flex-direction: column;
				align-items: center;
				background-color: #E8F1F6;
				margin: 30px auto 10px auto;
				border-radius: 3px;
				.photoIcon {
					color: #B9C5CC;
					font-size: 68px;
					padding: 15px 0 10px 0;
				}
				.photoLabel {
					display: flex;
					width: 173px;
					height: 36px;
					font-size: 14px;
					font-weight: 600;
					align-items: center;
					justify-content: center;
					line-height: 100%;
					background-color: #CBD6DC;
					color: #306685;
					border-radius: 60px;
					cursor: pointer;
				}
				.photoInfo {
					font-size: 10px;
					margin-top: 10px;
				}
				.photoInput {
					height: 20px;
				}
				#photoPreview {
					height: inherit;
					width: fit-content;
				}
			}
			.addLabel {
				margin: 1.5em 0 .7em 0;
				line-height: normal;
				font-size: 14px;
				font-weight: 500;
			}
			.addInput {
				height: 51px;
				font-size: 14px;
				border: none;
				padding-left: 15px;
				box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
			}
			.addSelect {
				height: 50px;
				font-size: 14px;
				border: none;
				box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
				margin-bottom: 30px;
				padding-left: 15px;
			}
			.submitBtn {
				align-self: center;
				width: 237px;
				height: 37px;
				font-family: 'Syne';
				font-size: 14px;
				cursor: pointer;
				border-radius: 60px;
				color: white;
				border: none;
				margin: 15px 0px 17px 0px;
				&:hover {
					background-color: #0E2F28;
				}
			}
			.grey {
			background-color: #A7A7A7;
			}
			.green {
				background-color: #1D6154;
			}
		}
	}
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * section contact * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.contact {
	max-width: 379px;
	margin: auto;
	margin-top: 60px;
	.contact_title {
		font-family: 'Syne';
		font-weight: 700;
		font-size: 30px;
		color: #1D6154;
		margin-bottom: 12px;
		text-align: center;
	}
	.contact_text {
		text-align: center;
		font-size: 16px;
	}
	.form {
		text-align: left;
		margin-top: 5px;
		display: flex;
		flex-direction: column;
		.form_input {
			height: 51px;
			font-size: 14px;
			border: none;
			box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
		}
		.form_label {
			margin: 2.6em 0 .7em 0;
			line-height: normal;
			font-size: 14px;
			font-weight: 500;
		}
		.form_textarea {
			height: 174px;
			border: none;
			box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
			font-size: 14px;
		}
		.form_submit {
			font-family: 'Syne';
			font-size: 14px;
			color: white;
			background-color: #1D6154;
			margin : 3em auto;
			padding: .7em;
			width: 180px;
			text-align: center;
			border-radius: 60px;
			border: none;
			cursor: pointer;
			&:hover {
				background-color: #0E2F28;
			}
		}
	}
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * section footer * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.foot {
	width: 100%;
	height: 60px;
	background: white;
	align-content: center;
	.foot-nav_ul {
		display: flex;
		justify-content: flex-end;
		margin-right: 100px;
		.foot-nav_ul_li {
			font-size: 14px;
			font-weight: 300;
		}
	}
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * code login.html * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.login {
	width: 27%;
	height: 80vh;
	margin: 150px auto 0 auto;
	.login_title {
		font-family: 'Syne';
		font-weight: 700;
		font-size: 30px;
		color: #1D6154;
		margin-bottom: 12px;
		text-align: center;
	}
	.login_form {
		text-align: left;
		display: flex;
		flex-direction: column;
		.login_form_label {
			margin: 2.1em 0 .5em 0;
			line-height: normal;
		}
		.login_form_input {
			height: 50px;
			font-size: 14px;
			border: none;
			box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
		}
		.login_form_submit {
			font-family: 'Syne';
			font-size: 14px;
			color: white;
			background-color: #1D6154;
			margin : 2.5em auto 2em auto;
			padding: .7em;
			width: 180px;
			text-align: center;
			border-radius: 60px;
			border: none;
			cursor: pointer;
			&:hover {
				background-color: #0E2F28;
			}
		}
		.forgot_password {
			color: #3D3D3D;
			font-size: 14px;
			font-weight: 600;
			align-self: center;
		}
	}
}